<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="./Public/Admin/Css/public.css" rel="stylesheet" type="text/css" />
<title>User Management</title>
<script type="text/javascript">
function confirmDel(id){
	if(window.confirm("Are you sure to delete？")){
		location.href = "?c=User&a=delete&id="+id;
	}
}
</script>
</head>

<body leftmargin="2" topmargin="0" marginwidth="0" marginheight="0" oncontextmenu="self.event.returnValue=false">
<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" class="border">
	<tr class="topbg"><td>User Management</td></tr>
	<tr class="tdbg">
		<td height="30">&nbsp;&nbsp;
			<a href="?c=User&a=index">User Management</a>&nbsp;|&nbsp;
			<a href="?c=User&a=add">Add New User</a>
		</td>
	</tr>
</table>
<br />
<table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" class="border">
	<tr class="title">
		<td align="center">ID</td>
		<td align="center">Username</td>
		<td align="center">Name</td>
		<td align="center">Telephone Number</td>
		<td align="center">Last Login IP</td>
		<td align="center">Last Login Time</td>
		<td align="center">Login Times</td>
		<td align="center">Action</td>
	</tr>
	<{foreach $users as $user}>
	<tr class="tdbg">
		<td align="center"><{$user.id}></td>
		<td align="center"><{$user.user_name}></td>
		<td align="center"><{$user.name}></td>
		<td align="center"><{$user.tel}></td>
		<td align="center"><{$user.last_login_ip}></td>
		<td align="center"><{$user.register_date|date_format:'Y-m-d H:i:s'}></td>
		<td align="center"><{$user.login_times}></td>
		<td align="center">
			<a href="?c=User&a=edit&id=<{$user.id}>">Edit</a> | 
			<a href="javascript:void(0)" onClick="confirmDel(<{$user.id}>)">Detele</a>
		</td>
	</tr>
	<{/foreach}>
</table>
</body>
</html>
