<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="./Public/Admin/Css/public.css" />
<script type="text/javascript" src="./Public/Admin/Js/jquery.js"></script>
<script type="text/javascript" src="./Public/Admin/Js/menu.js"></script>
<title>Manage Left</title>
<base target="main" />
</head>
<body>
<div class="left">
	<div><img src="./Public/Admin/Images/menu_topimg.gif" /></div>
	<div class="title"><b>Admin Menu</b></div>
	<div><img src="./Public/Admin/Images/menu_topline.gif" /></div>
	<div class="content">
		<ul class="menu collapsible">
			<li><a href="#">Admin Management</a>
				<ul class="acitem">
					<li><a href='?c=User&a=add'>Add User</a></li>
					<li><a href='?c=User&a=index'>User Management</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div><img src="./Public/Admin/Images/menu_bottomimg.gif" /></div>
</div>
</body>
</html>